certifi==2017.11.5
chardet==3.0.4
Django==1.11.7
django-oauth-toolkit==1.0.0
djangorestframework==3.7.2
flake8==3.5.0
gunicorn==19.7.1
idna==2.6
mccabe==0.6.1
oauthlib==2.0.6
pew==1.1.2
pipenv==9.0.0
pycodestyle==2.3.1
pyflakes==1.6.0
pytz==2017.3
requests==2.18.4
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
xmltodict==0.11.0
