<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Qutuf
    <span class="arabic_font">
    قُطُوْف</span></h1>
    <p>To know how to use this service, kindly check the code and the read-me file at GitHub <a href="https://github.com/Qutuf/qutuf">https://github.com/Qutuf/qutuf</a>
        
</p>

<h2>Sample calls</h2>
<ul>
        <li>
                <a href="/?functionality=lemma&outputformat=html&text= الملك بالملك فالملك وملك والملك">/?functionality=lemma&outputformat=html&text= الملك بالملك فالملك وملك والملك</a>
        </li>
        <li>
                <a href="/?text=غير">/?text=غير</a>
        </li>
</ul>

</body>
</html>