<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Qutuf
    <span class="arabic_font">
    قُطُوْف</span></h1>
    <p>At this web site you will be introduced for research and development of a system for Arabic Morphological analysis and Part-Of-Speech tagging, called Qutuf "<span class="arabic_font">قُطُوْف</span>", which is aimed to be the kernel of a large framework that provides APIs for Arabic language processing.</p>
    <p>The morphological analysis component at Qutuf uses finite state automates and rules for agreement developed for cliticalization parsing. It also uses AlKhalil Morpho Sys open source database for root extraction, pattern matching, morphological feature and POS assignment and closed nouns after enriching it.</p>
    <p>Moreover, at Qutuf, some new concepts has been identified and implemented. Like First Normalization and Second Normalization text forms at the preprocessing phase and the Premature and Overdue Tagging at the Part-Of-Speech tagging task. Moreover, the POS tagging is designed and implemented as a rule based expert system. A POS tagset, which is built based on a morphological feature tagset, has been designed and used in Qutuf
</p>
<h2>
    request parameter <b>phrase</b> is used for the desired phrase.<br>
    request parameter <b>type</b> is used for the response type <b>xml, html, json</b>
</h2>

</body>
</html>